rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allows reading and updating the scrapbook state and media memories in real-time
    match /scrapbook/{document=**} {
      allow read, write: if true;
    }
    match /media/{document=**} {
      allow read, write: if true;
    }
  }
}
